<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/projects']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{project.name}}</h2></mat-card-title>
      <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Project Name:</dt>
        <dd>{{project.name}}</dd>
        <dt>Project Description:</dt>
        <dd>{{project.description}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/project-edit', project.projectId]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteProject(project.projectId)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
