<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/projects']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="projectForm" (ngSubmit)="onFormSubmit(projectForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Project Name" formControlName="proj_name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!projectForm.get('proj_name').valid && projectForm.get('proj_name').touched">Please enter Project Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Project Desc" formControlName="proj_desc"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!projectForm.get('proj_desc').valid && projectForm.get('proj_desc').touched">Please enter Project Description</span>
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Project Price" formControlName="prod_price"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!projectForm.get('prod_price').valid && projectForm.get('prod_price').touched">Please enter Project Price</span>
        </mat-error>
      </mat-form-field> -->
      <div class="button-row">
        <button type="submit" [disabled]="!projectForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
